* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Muller;
  src: url("./assets/fonts/MullerRegular.otf");
}

@font-face {
  font-family: MullerBold;
  src: url("./assets/fonts/MullerBold.otf");
}

@font-face {
  font-family: MullerExtraBold;
  src: url("./assets/fonts/MullerExtraBold.otf");
}

body {
  font-family: Muller, sans-serif;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: rgb(255, 175, 24);
  width: 224px;
  padding: 22px;
  font-size: 16px;
  font-family: MullerBold, sans-serif;
  color: rgb(56, 36, 0);
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.product-action .btn-white {
  background: transparent;
  border: 1px solid rgb(255, 175, 24);
  color: rgb(255, 175, 24);
}

.products-items {
  justify-content: center;
}

.double-title {
  color: rgb(185, 145, 80);
}

.double-title span {
  color: #ffaf18;
}

.products {
  padding: 80px 0 120px;
}

.products-title {
  font-size: 35px;
  font-family: MullerBold, sans-serif;
  color: rgb(189, 152, 92);
  text-align: center;
}

.products-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
}

.order {
  padding: 120px 0 115px 0;
  overflow: hidden;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.order-text {
  max-width: 384px;
}

.order-text-title {
  font-size: 35px;
  font-family: MullerExtraBold, sans-serif;
  font-weight: bold;
  margin-bottom: 65px;
}

.order-text-message {
  font-size: 16px;
  color: rgb(185, 145, 80);
  line-height: 1.5;
}

.order-form {
  margin-left: 122px;
  max-width: 330px;
}

.order-input {
  border-width: 1px;
  border-color: rgb(185, 145, 80);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 330px;
  box-sizing: border-box;
  font-size: 18px;
  color: rgb(119, 94, 49);
  padding: 23px 22px 24px 22px;
  outline: 0;
  margin-bottom: 24px;
  height: 60px;
}

.order-input::placeholder {
  color: rgb(203, 168, 110);
}

.order .button {
  background-color: rgb(255, 175, 24);
  width: 330px;
  height: 60px;
}

.order-image {
  width: 282px;
  position: relative;
  margin-left: 78px;
}

.order-image img {
  position: absolute;
  bottom: -37px;
  left: 0;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.49);
}

.loader {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #ffaf18;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}


/* 1024 - 1229 */
@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
  .products {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .order {
    padding-top: 60px;
    position: relative;
    overflow: hidden;
  }

  .order .container {
    justify-content: center;
  }

  .order-image {
    position: absolute;
    z-index: -1;
    right: calc(50% - 400px);
  }

  .order-image img {
    position: relative;
  }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {
  .order .container {
    flex-direction: column;
    align-items: center;
  }

  .order-text-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .order-text-message {
    text-align: center;
    margin-bottom: 25px;
  }

  .order-form {
    margin-left: 0;
  }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {
  .order-form {
    text-align: center;
  }

  .order-input {
    width: 290px;
  }

  .order-form .button {
    width: 290px;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
